<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie Sauteuhz</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="divHeader">
<<<<<<< HEAD
        <a href="/"><img id="logoPharmacie" src="image/LogoPharmacie.png" alt="Logo Accueil"></a>
        <a href="/" id="titrePharmacie"><h1>Pharmacie Sauteuhz</h1></a>
=======
        <img src="pharmacie.jpg" alt="azer">
        <h1>Pharmacie Sauteuhz</h1>
        <a href="/"><button>Accueil</button></a>
>>>>>>> 109b0bac659a8318a0b958f04fa0454840e58ff3
    </div>


