<%- include('header') %>
<div id="parent">
    <div id="margeGaucheParent">
        <div id="margeGauche"></div>
        <div id="margeGaucheFade"></div>
    </div>

    <a href="/listeClients"><button>Liste Clients</button></a>
    <a href="/listeMedocs"><button>Liste Médocs</button></a>

    <div id="margeDroiteParent">
        <div id="margeDroiteFade"></div>
        <div id="margeDroite"></div>
    </div>

</div>

<%- include('footer') %>