<%- include('header') %>
<div id="parent">
    <div id="margeGaucheParent">
        <div id="margeGauche"></div>
        <div id="margeGaucheFade"></div>
    </div>

    <div id="margeDroiteParent">
        <div id="margeDroiteFade"></div>
        <div id="margeDroite"></div>
    </div>

</div>

<%- include('footer') %>