<%- include('header') %>
<div id="parent">
    <div id="margeGaucheParent">
        <div id="margeGauche"></div>
        <div id="margeGaucheFade"></div>
    </div>
        
    <div id="listeMedocs">
        <% index.forEach(function(user){ %>

            <strong> <a href="/detailMedoc"> <%= user.medoc_nom %> <%= user.medoc_description %> </a> </strong>

        <% }) %>
    </div>
</div>

<%- include('footer') %>