<%- include('header') %>
    

<form action="stockadmin" method="POST">

    <input type="number" name="medoc">
    <input type="number" name="mois" >
    <input type="submit">

</form>


<%- include('footer') %>